.details{
    position: absolute;
    width: 1046px;
    height: 311px;
    left: 197px;
    top: 70px;
    color: #828282;
    background: #FFFFFF;
    border-radius: 12px;
  }

.img-container{
  position: absolute;
  width: 271.86px;
  height: 266.14px;
  margin: 22px;

  background: #C4C4C4;
  border-radius: 12px;
}
.details-container{

}